body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #140000;
    color: #fff;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100vw
}
.logo{
    width:33%
}
.nav-links {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width:33%
}

.nav-links a {
    text-decoration: none;
    color: #fff;
}

.search-bar {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    width:33%;
    input {
        padding: 5px;
        border: none;
        border-radius: 5px;
    }
    button{
        padding: 5px 10px;
        background-color: #ffcc00;
        color: #280000;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
}
.bg-image {
    background: url('./assets/background.jpg') no-repeat;
    background-size: cover;
}
.hero {
    position: relative;
   
    height: 100vh;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hero-content {
    background: #000A;
    padding: 20px;
    border-radius: 10px;
}
.hero-content h1 {
    font-size: 3rem;
    font-weight: bold;
}

.hero-content p {
    max-width: 600px;
    margin: 20px auto;
}

.book-now {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}

.social-links {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    gap: 10px;
}
.search-results {
    position: absolute;
    top: 20px;
    right: 20px;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    .result-item {
        padding: 5px;
        background: #280000;
        border-radius: 10px;
    }
}